
#jumbotron {
    display: flex;
    height: 225px;
    width: 100%;
    line-height: 7;
    padding: 10px 0;
    background: whitesmoke;
    width:100%;
}

.carousel {
    display: inline-flex;
    position: relative;
    text-align: center;
    background: none;

    height:100%;
    width:100%;
}

.carousel-bg-right {
    background-color: ghostwhite;
    width: 5%;
    margin-right:-15px;
}

.carousel-bg-left {
    background-color: ghostwhite;
    width: 5%;
    margin-left:-15px;
}

.carousel-image {
    background-color: ghostwhite;
    height: 0px;
}

.carousel-overlay {
    height: 225px;
    width:100%;
    background-color: ghostwhite;
}

.prev {
    display: inline-flex;
    align-items: center;
    background: none;
    padding-left: 5%;
}

#currentImage {
    display: inline-flex;
    width:100%;
    align-self: flex-end;
    justify-content: center;
}

.next {
    display: inline-flex;
    align-items: center;
    background: none;
    padding-right: 5%;
}

div.slider {
    display: inline-flex;
    position: relative;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-color: black;

    margin: 0;
    padding: 0;
    
    width:100%;
    height: 100%;
    background-size: contain;
}

div.slider div {
    width: 100%;
    height:100%;
}

div.slider img {
    position: relative;
    width: 100%;
    height: 100%;
}

div.slider div#one {
    background-image: url("https://www.dropbox.com/s/xn9cdo1itkvxxzq/WP_000122.jpg?dl=1");
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
}

div.slider div#two {
    display: inline-flex;
    position: relative;

    height: inherit;
    width: inherit;
    background-image: url("https://www.dropbox.com/s/xn9cdo1itkvxxzq/WP_000122.jpg?dl=1");

}

div.slider div#three {
    display: inline-flex;
    position: relative;

    height: inherit;
    width: inherit;
    background-image: url("https://www.dropbox.com/s/xn9cdo1itkvxxzq/WP_000122.jpg?dl=1");

}

img#four {
    display: inline-flex;
    position: relative;

    height: inherit;
    width: inherit;
    background-image: url("https://www.dropbox.com/s/xn9cdo1itkvxxzq/WP_000122.jpg?dl=1");
}


dots {
    margin:0;
}