/* NAVBAR STYLING */

.navbar-bg {
    background-color: #7A8288;
    height: 70px;
}

.navbar {
    position: fixed;
    background:none;
    border-color: none;
    border: 0px solid black;
}

.navbar-fixed-top {
    margin: 0;
    padding: 0;
    background: none;
}

nav .logo {
  float: left;
  max-height: 70px;
  width: auto;
  margin: auto 0 auto 30px;
}

