
.checkout {
  margin: 60px 0 40px;
}

.total {
  background: #8D9499;
  color: #000;
}

.billingCheck {
  margin: 35px 0 0;
  text-align: center;
}

.purchaseButton {
  margin: 25px 0 0;
}

/* Verifying the Email */

.validEmail {
  border-color:limegreen;
  border-width: medium
}

.errorInput {
  border-color :red ;
  border-width: medium
}
